<div class="container">
  <div class="row">
    <div class="content">
      <h1><%= @word.native %></h1>
      <%= link_to "Show answer", {:controller => "words", :action =>"show_answer", :word => @word}, :class => "btn-primary-xl", :style => "text-decoration: none; color: #FFF", method: :post %>
    </div>
  </div>
</div>
